[Unit]
Description=VandalOptics WebContentServe Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=logger
ExecStart=/home/logger/Capstone/start_webserve.sh

[Install]
WantedBy=multi-user.target