[Unit]
Description=VandalOptics Headless Logger Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=30
User=logger
ExecStart=/home/logger/Capstone/start_logger.sh

[Install]
WantedBy=multi-user.target