[Unit]
Description=VandalOptics HeadlessLogger Service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=logger
ExecStart=python3 /home/logger/Capstone/src/VolumeSensorHeadless.py

[Install]
WantedBy=multi-user.target